<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" th:href="@{/common.css}" />
  <style>
    h3 { margin-bottom: 2px; }
  </style>
</head>
<body>
<div class="container">
  <h1>카테고리별 책목록</h1>
  <div th:each="ct : ${ categorys }">
    <h3 th:text="${ ct.name }"></h3> 
    <table class="list">
    <thead>
      <tr>
      <th>id</th>
      <th>제목</th>
      <th>저자</th>
      <th>카테고리</th>
      <th>가격</th>
      <th>출판사</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="bk : ${ ct.books }">
        <td th:text="${ bk.id }"></td>
        <td th:text="${ bk.title }"></td>
        <td th:text="${ bk.author }"></td>
        <td th:text="${ bk.category.name }"></td>
        <td th:text="${ bk.price }"></td>
        <td th:text="${ bk.publisher }"></td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
</body>
</html>