<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/common.css" />
  <script type="text/javascript" src="/common.js"></script>
  <style>
    a.btn { float: right; margin-top: -40px; }
  </style>
</head>
<body onload="pagination()">
<div class="container">
  <h1>교수목록</h1>
  <a th:href="${ 'create?' + pagination.queryString }" href="create" class="btn">교수등록</a>
  <table class="list">
    <thead>
      <tr>
        <th>id</th>
        <th>이름</th>
        <th>학과</th>
        <th>전화</th>
        <th>이메일</th>
        <th>연구실</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="pr : ${ professors }"
          th:href="${ 'edit?id=' + pr.id + '&' + pagination.queryString }"
          onclick="onClickHref(event)">
        <td th:text="${ pr.id }"></td>
        <td th:text="${ pr.name }"></td>
        <td th:text="${ pr.department.name }"></td>
        <td th:text="${ pr.phone }"></td>
        <td th:text="${ pr.email }"></td>
        <td th:text="${ pr.office }"></td>
      </tr>
    </tbody>
  </table>
  <div class="pagination" th:data-record-count="${pagination.recordCount}"
       th:data-page-size="${pagination.sz}" th:data-current-page="${pagination.pg}"></div>
</div>
</body>
</html>